* {
    box-sizing: border-box;
}

body {
    font-size: 16px/1.5;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

.highlight {
    color: #a4bd39;
    font-weight: bold;
    transform: rotate(10deg);
}

.dark {
    background-color: #35424a;
    color: #f4f4f4;
    padding: 10px;
}

/* Header-tyylit */
header {
    background-color: #35424a;
    color: #f4f4f4;
    padding: 10px 0;
    min-height: 90px;
    border-bottom: #a4bd39 3px solid;
}

#logo {
    float: left;
}

#logo img {
    height: 50px;
    padding: 5px;
    display: block;
    float: left;
    margin: -5px 5px 5px 0px;
    transform: rotate(20deg);
}

header nav {
    float: right;
    margin-top: 15px;
}

nav a {
    color: #f4f4f4;
    text-decoration: none;
    display: inline-block;
    margin: 10px 5px;
    font-size: 20px;
    text-transform: uppercase;
}

/* Showcase */
#showcase {
    min-height: 400px;
    background-image: url('../img/screenofcode2.png');
    text-align: center;
    color: #f4f4f4;
}

#showcase h1 {
    font-size: 60px;
    padding-top: 100px;
}

#showcase p {
    font-size: 26px;
}

/* Newsletter */
#newsletter {
    background-color:  #35424a;
    color: #f4f4f4;
    padding: 15px 0;
}

#newsletter h2 {
    width: 50%;
    float: left;
}

#newsletter form {
    width: 50%;
    float: right;
}

#newsletter input[type="email"] {
    height: 35px;
    margin: 15px 0;
    padding: 4px;
    font-size: 1em;
    width: 65%;
}
#newsletter button {
    height: 35px;
    font-size: 1.1em;
    width: 30%;
    background-color: #a4bd39;
    border: 0;
}

/* Boxes */
#boxes {
    margin: 40px 0;
}

.box {
    float: left;
    width: 33%;
    text-align: center;
    padding: 10px;
}

.box img {
    width: 150px;
}

/* Main */
#main article {
    float: left;
    width: 65%;
    line-height: 1.5em;
}

#main aside {
    float: right;
    width: 30%;
    line-height: 1.5em;
    padding: 15px;
    margin: 20px 0;
}

#main aside img {
    max-width: 100%;
}


/* Footer */
footer {
    padding: 20px;
    background-color: #35424a;
    color: #f4f4f4;
    text-align: center;
    border-top: #a4bd39 3px solid;
}